@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* обнуление стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* чтобы  дочерний бокс не вылезал за пределы родительского*/
  text-decoration: none; /* убирает все подчеркивания */
  border: none;
}

ul li {
  list-style: none;
}

body {
  scroll-behavior: smooth; /* мягкий скролл стрaницы */
  /* background: #020a18; бэкграунд для всего сайта*/
  font-family: "Lato"; /* шрифт для всего сайта*/
  /* color: #fff; цвет шрифта для всего сайта */
  /* font-weight: 600; размер шрифта для всего сайта */
}

img {
  max-width: 100%; /* картинка занимает всю ширину */
  display: block; /* чтобы картинка не вылезала за рамки блока, будет адекватно подстраиваться под верстку и стилизацию */
}

.container {
  /* делаем центровку*/
  max-width: 1140px; /* задаем максимальную ширину (по макету)*/
  margin: 0 auto; /* 0 отвечает за отступы сверху и снизу, auto отвечает за отступы слева и справа, таким образом оно отвечает за центрирование*/
}

.header {
  background: #222;
  /* margin-bottom: 0; */
}

.button {
  background: #222;
}

.button__ring {
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: -9.5px;
}

.button__num {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  display: flex;
  justify-content: center;
  padding: 3px;
}

.header__all {
  display: flex;
  justify-content: space-between;
  padding: 18px 0 20px 0;
}

.header__all-logo {
  display: flex;
  gap: 41px;
  align-items: end;
}

.header__all-menu {
  display: flex;
  gap: 33px;
  align-items: end;
  position: relative;
}

.top {
  background: #f1e4e6;
  margin-bottom: 65px;
}

.banner {
  max-width: 1600px;
  margin: 0 auto; /* не забывай центрирование */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 63.42px;
  position: relative;
}

.content__right-side {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 290px;
  align-self: flex-start;
}

.content__right-side h1 {
  color: #222;
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
}

.content__right-side h2 {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
}

.fashion {
  color: #f16d7f;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.menu__burger {
  background-color: #fff;
  width: 232px;
  height: 634px;
  padding: 32px 33px;
  position: absolute;
  top: 0;
  right: 0;
}

.hidden__menu {
  display: none;
}

.menu {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 24px;
}

.menu__persons {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 12px;
}

.menu__description {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.menu__description li {
  padding: 0 0 0 21px;
  margin-bottom: 11px;
}

.img__woman {
  background-image: url(./img/women.png);
  width: 360px;
  height: 260px;
}

.background {
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
}

.images {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 96px;
}

.images h3 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.images h2 {
  color: #f16d7f;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
}

.img__man {
  background-image: url(./img/men.png);
  width: 360px;
  height: 260px;
}

.img__kid {
  background-image: url(./img/kids.png);
  width: 360px;
  height: 260px;
}

.img__accesories {
  background-image: url(./img/accesories.png);
  width: 1140px;
  height: 180px;
}

.text__images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 105px 103px;
}

.text__images__accesories {
  padding: 65px;
}

.main__cards {
  background: #fff;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-bottom: 44px;
}

.text h2 {
  color: #222;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.text p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.cards__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 48px;
}

.hover-effect-btn {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  transition: all 0.5s ease;
  display: none;
}
.hover-effect-btn:hover .overlay {
  display: flex;
}

.button {
}

.cards__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  background: #f8f8f8;
}

.cards__text h2 {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.cards__text p {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.cards__text h3 {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.footer_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  cursor: pointer;
}

.btn {
  border: 1px solid rgba(255, 106, 106, 1);
  color: #f26376;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  background: #fff;
  padding: 15px 39px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgba(241, 109, 127, 1);
  color: #fff;
}

.advantages {
  background-color: #222224;
}

.advantages__all {
  display: flex;
  gap: 30px;
}

.advantages__all-privilege {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center;
  max-width: 360px; */
  gap: 16px;
  padding-top: 103px;
  padding-bottom: 104px;
}

.advantages__all-privilege h2 {
  color: #fbfbfb;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
}

.advantages__all-privilege p {
  color: #fbfbfb;
  text-align: center;
  font-size: 13.972px;
  font-weight: 300;
  line-height: 17px;
}

.subscribe__img {
  background: url(./img/subscribe.png) 0 0 / cover no-repeat;
  height: 448px;
}

.subcribe__background {
  background-color: rgba(244, 244, 244, 0.7);
  width: 100%;
  height: 100%;
}

.subscribe__all {
  display: flex;
  gap: 327px;
  justify-content: center;
  align-items: center;
  padding-top: 97px;
}

.subscribe__quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  max-width: 360px;
}

.subscribe__quote p {
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.italic {
  color: #222224;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}

.subscribe__newletter {
  display: flex;
  flex-direction: column;
}

.subscribe__newletter h2 {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
}

.subscribe__newletter h3 {
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 32px;
}

.subscribe__button {
  display: flex;
}

.subscribe__button-enter {
  background-color: rgba(225, 225, 225, 1);
  padding: 0 22px;
  border-radius: 20px 0 0 20px;
  font-size: 14px;
  width: 256px;
  height: 49px;
}

.subscribe__button-subscribe {
  background-color: #e05c6e;
  font-size: 14px;
  border-radius: 0 20px 20px 0;
  text-align: center;
  color: #fff;
  height: 49px;
  width: 100px;
}

.footer {
  background-color: #222224;
}

.footer__all {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.footer__all-rights p {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.footer__all-icons {
  display: flex;
  gap: 7px;
  transition: all 0.3s;
}

.footer__svg-1:hover .path_1 {
  fill: #f16d7f;
}

.footer__svg-1:hover .path_2 {
  fill: rgba(255, 255, 255, 1);
}

.footer__svg-2:hover .path_1 {
  fill: #f16d7f;
}

.footer__svg-2:hover .path_2 {
  fill: rgba(255, 255, 255, 1);
}

.footer__svg-3:hover .path_1 {
  fill: #f16d7f;
}

.footer__svg-3:hover .path_2 {
  fill: rgba(255, 255, 255, 1);
}

.footer__svg-4:hover .path_1 {
  fill: #f16d7f;
}

.footer__svg-4:hover .path_2 {
  fill: rgba(255, 255, 255, 1);
}

@media (max-width: 1139px) and (min-width: 768px) {
  .container {
    max-width: 735px;
  }

  .header__all {
    display: flex;
    justify-content: space-between;
    padding: 18px 16px 20px 16px;
  }

  .header__all-menu {
    gap: 25px;
  }

  .banner {
    max-width: 770px;
    gap: 39px;
  }

  .content__right-side {
    margin-top: 138.1px;
  }

  .content__right-side h1 {
    font-size: 44px;
    line-height: 52.8px;
  }

  .content__right-side h2 {
    font-size: 24px;
    line-height: 28.8px;
  }

  .fashion {
    font-size: 24px;
    line-height: 28.8px;
  }

  .img__woman {
    background-image: url(./img/mini_women.png);
    width: 232px;
    height: 168px;
  }

  .images {
    gap: 19px;
    margin-bottom: 109.92px;
  }

  .img__man {
    background-image: url(./img/mini_men.png);
    width: 232px;
    height: 168px;
  }

  .img__kid {
    background-image: url(./img/mini_kids.png);
    width: 232px;
    height: 168px;
  }

  .img__accesories {
    background-image: url(./img/mini-accesories.png);
    width: 735px;
    height: 116px;
  }

  .text__images {
    padding: 58px 39px;
  }

  .text__images__accesories {
    padding: 33px;
  }

  .text {
    gap: 3.3px;
    margin-bottom: 73px;
  }

  .cards__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 32.48px;
  }

  .cards__text {
    gap: 12.65px;
  }

  .footer_btn {
    margin-bottom: 70.52px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 343px;
  }

  .hidden {
    display: none;
  }

  .banner {
    max-width: 375px;
    display: flex;
    justify-content: center;
    padding-bottom: 148px;
  }

  .banner img {
    display: none;
  }

  .content__right-side {
    padding-left: 15px;
    margin-top: 148px;
  }

  .content__right-side h1 {
    font-size: 38px;
    line-height: 45.6px;
  }

  .content__right-side h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .fashion {
    font-size: 20px;
    line-height: 24px;
  }

  .images {
    gap: 32px;
    margin-bottom: 64px;
  }

  .images h3 {
    line-height: 19.2px;
  }

  .images h2 {
    line-height: 28.8px;
  }

  .text__images {
    padding: 98px 95px;
  }

  .img__accesories {
    background-image: url(./img/accesories__mobile.png);
    width: 343px;
    height: 111px;
  }

  .text__images__accesories {
    padding: 30px 92px;
  }

  .img__woman {
    width: 343px;
    height: 247px;
  }

  .img__man {
    width: 344px;
    height: 249px;
  }

  .img__kid {
    width: 344px;
    height: 249px;
  }

  .text {
    gap: 3.3px;
    margin-bottom: 65px;
  }

  .cards__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 41px;
  }

  .footer_btn {
    margin-bottom: 85px;
  }
}
